{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_product %}
{% load satchmo_util %}

{% block payment_step %}<a href="{% url PAGOSONLINE_satchmo_checkout-step2 %}">{% trans "Payment" %}</a>{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not live %}<strong>{% trans "PAYMENT TEST MODE" %}</strong>{% endif %}
{% trans "Your payment will be processed through Pagos Online." %}
{% endblock %}

{% block payment_form %}
{% if order.paid_in_full %}
<form action="{% url PAGOSONLINE_satchmo_checkout_free-confirm %}">
    <input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% else %}
<form action="{{ post_url }}" method="post">{% csrf_token %}

<input type="hidden" name="prueba" value="{{ prueba }}" />
<input type="hidden" name="baseDevolucionIva" value="{{ baseDevolucionIva }}" />
<input type="hidden" name="usuarioId" value="{{ usuarioId }}" />
<input type="hidden" name="valor" value="{{ amount }}" />
<input type="hidden" name="refVenta" value="{{ xchg_order_id }}" />
<input type="hidden" name="moneda" value="{{ coin }}" />
<input type="hidden" name="url_respuesta" value="http://www.rinconcolombia.com:81/checkout/pagosonline/answer/" />
<input type="hidden" name="url_confirmacion" value="http://www.rinconcolombia.com:81/checkout/pagosonline/notify/" />
<input type="hidden" name="firma" value="{{ signature }}" />
<input type="hidden" name="emailComprador" value="{{ emailComprador }}" />
<input type="hidden" name="iva" value="{{ iva }}" />

<input type="hidden" name="_confirmacion" value="{{ url_callback }}" />
<input type="hidden" name="_respuesta" value="{{ url_ans }}" />

{% if order.partially_paid %}
        <input type="hidden" name="descripcion" value="Remaining Balance for order {{ order }}" />
{% else %}
        <input type="hidden" name="descripcion" value="Order {{ order }}" />
{% endif %}

<input class="buttonConfirm" type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% endif %}
{% endblock %}

